<!--The whole content below can be removed with the new code.-->
<div class="todo-container">
  <div class="todo-header">
    <input [(ngModel)]="todoHeader" type="text" placeholder="Note title" value="{{todoHeader}}"/>
  </div>

  <div class="todo-list">
    <div class="active-items" *ngFor="let todoItem of todoItemsList">
      <todo-item *ngIf="todoItem.isDone" [todoItem]="toDoItem" (click)="toggleItemState(todoItem)"></todo-item>
    </div>
    <div class="todo-item-input">
      <input type="text" placeholder="What needs to be done?"/>
    </div>
    <div class="completed-items" *ngFor="let todoItem of todoItemsList">
      <todo-item *ngIf="!todoItem.isDone" [todoItem]="toDoItem" (click)="toggleItemState(todoItem)"></todo-item>
    </div>
  </div>
</div>



